
body {
    font-family: 'Arial', sans-serif;
    background-color: #3498db;
    margin: 0;
    padding: 20px;
    width: 500px;
    
}

h3 {
    color: #000000;
    text-align: center;
    font-weight: bold;
    font-size: large;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; 
}

h3:hover {
    color: #ffcc00;
    transform: scale(1.1); 
}

div {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
    animation: fadeIn 0.5s ease-in-out;
}

p {
    margin: 10px 0;
    font-weight: bold;
    font-size: 16px;
    color: #555;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    transition: color 0.3s ease-in-out; 
}

p:hover {
    color: #ffcc00;
}

span {
    font-weight: bold;
    color: #563ce7;
    animation: pulse 1s infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
