Dataset Modifier/datasets/*.csv
Dataset Modifier/formatted_datasets/*.csv
JsonParser/formatted_datasets/*.csv
JsonParser/formatted_datasets_json/*.json
NLPClassifierTool/checkpoint_dir_rcv1/*
NLPClassifierTool/checkpoint_dir_transformer/*
NLPClassifierTool/data/*
Dataset Modifier/.idea/
.idea/
NLPClassifierTool/checkpoint_*/*
TurkishDataset/Real/*
TurkishDataset/Fake/*
TurkishDataset/*.json